.about-story{
    grid-template-columns: 1fr 1fr;
    gap:3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-description{
    grid-column: 1;
}

.about-description h1{
    color: #F4CE14;
}

.about-description p{
    padding-top: 1.5rem;
}

.about-section-images{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.about-section-images img{
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 915px) {
    .about-story {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
    
    .about-section-images {
      grid-column: 1;
      flex-direction: row;
    }
    
    .about-section-images img {
      max-width: 50%;
    }
    }
    
    @media (max-width: 715px) {
        .about-story {
      grid-template-rows: repeat(3, auto);
    }
    
    .about-section-images {
      flex-direction: column;
    }
    
    .about-section-images img {
      max-width: 100%;
    }
    }